.searchRoot {
  width: 100%;
  display: flex;
  position: relative;
  margin-bottom: 2px;
  height: 40px;
}

.searchFieldBox {
  width: 100%;
  position: relative;
  margin-right: 2px;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
}
.searchFieldBox input {
  outline: none;
  border: none;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.titleBox {
  display: none;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10px;
  background: "#ccc";
}
.titleBox.titleBox_show {
  position: absolute;
  width: 100%;
  z-index: 9999;
  top: 0px;
  display: flex;
  background-color: white;
  border-radius: 8px;
}
.titleBox span {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.titleBox button {
  margin-left: 2px;
}
.searchSubmitBtn {
  width: 100%;
}

.mapRoot {
  position: relative;
  height: 400px;
  background-color: white;
  z-index: 9999;
}
.mapsuz {
  height: 400px;
  overflow: hidden;
}
.placemark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 1200;
  font-size: 35px !important;
  cursor: grab;
}
