.searchRoot {
  width: 100%;
  display: flex;
  position: relative;
  margin-bottom: 2px;
  height: 40px;
}

.searchFieldBox {
  width: 100%;
  position: relative;
  margin-right: 2px;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
}
.searchFieldBox input {
  outline: none;
  border: none;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.titleBox {
  display: none;
  background: "#ccc";
  width: 100%;
  height: 40px;
}
.titleBox.titleBox_show {
  display: flex;
  height: fit-content;
  background-color: white;
  border-radius: 8px;
  border: 1px solid green;
}
.titleBox span {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.titleBox button {
  margin-left: 2px;
}
.searchSubmitBtn {
  width: 100%;
}

.mapRoot {
  position: relative;
  background-color: white;
  z-index: 50;
  height: 100%;
}

.placemark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 88888;
  font-size: 35px !important;
  cursor: grab;
}
.ymaps-2-1-79-map {
  width: 100%;
  height: 100%;
}
