/* import { makeStyles } from "@mui/styles";

export const useStyles = makeStyles((theme) => ({
  searchRoot: {
    display: "flex",
    position: "relative",
    marginBottom: theme.spacing(2),
    height: 40,
  },

  searchFieldBox: {
    flexGrow: 1,
    position: "relative",
    marginRight: theme.spacing(2),
    height: "100%",
    border: "1px solid #ccc",
    borderRadius: theme.shape.borderRadius,
    "& input": {
      outline: "none",
      border: "none",
      height: "100%",
      width: "100%",
      padding: theme.spacing(1),
      boxShadow: "inset 0 1px 3px 0 rgb(0 0 0 / 20%)",
    },
  },

  searchSubmitBtn: {
    width: 100,
  },

  titleBox: {
    display: "none",
    alignItems: "center",
    position: "absolute",
    top: 0,
    left: 0,
    bottom: 0,
    right: 0,
    padding: theme.spacing(1),
    background: "#ccc",
    "& p": {
      flexGrow: 1,
      whiteSpace: "nowrap",
      overflow: "hidden",
      textOverflow: "ellipsis",
    },
    "& button": {
      marginLeft: theme.spacing(1),
    },
  },
  titleBox_show: {
    display: "flex",
  },

  mapRoot: {
    position: "relative",
  },


})); */
.searchRoot {
  width: 100%;
  display: flex;
  position: relative;
  margin-bottom: 2px;
  height: 40px;
  border: 1px solid yellow;
}

.searchFieldBox {
  width: 100%;
  position: relative;
  margin-right: 2px;
  display: flex;
  border: 1px solid #000;
  overflow: hidden;
  border-radius: 10px;
}
.searchFieldBox input {
  outline: none;
  border: none;
  height: 100%;
  width: 100%;
  padding: 10px;
  border: 1px solid red;
}
.titleBox_show {
  position: relative;
  z-index: 9999;

  top: 0px;
  border: 1px solid red;
  display: flex;
  border: 1px solid red;
}

.titleBox {
  display: none;
  align-items: center;
  position: absolute;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10px;
  background: "#ccc";
}
.titleBox span {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.titleBox button {
  margin-left: 2px;
}
.searchSubmitBtn {
  width: 100%;
}

.mapRoot {
  position: relative;
  height: 400px;
  background-color: white;
  z-index: 9999;
  border: 1px solid green;
}
.mapsuz {
  border: 1px solid red;
  height: 400px;
}
.placemark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 1200;
  font-size: 35px !important;
  cursor: grab;
}
