@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: #007dca;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "AeonikPro-Medium";
  src: url("/public/fonts/AeonikPro-Medium.woff2") format("woff2"),
    url("/public/fonts/AeonikPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AeonikPro-Regular";
  src: url("/public/fonts/AeonikPro-Regular.woff2") format("woff2"),
    url("/public/fonts/AeonikPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.ant-picker-range-separator {
  display: none;
}

.mobileDate .ant-space {
  width: 250px;
}

.ant-picker-panels {
  display: grid !important;
}

:where(.css-dev-only-do-not-override-1jr9qlj).ant-picker {
  padding: 8px 10px 8px;
  border-radius: 8px;
  border: 1px solid #f2f2f2;
}

:where(.css-dev-only-do-not-override-1jr9qlj).ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
  border-color: #303030;
}

:where(.css-dev-only-do-not-override-1jr9qlj).ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  width: 100%;
  height: 48px;
  padding: 8px 10px;
  line-height: 10px;
}

:where(.css-dev-only-do-not-override-1jr9qlj).ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
  height: 48px;
  font-size: 16px;
}

.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}

/* .ymaps-2-1-79-map:nth-child(2) {
  display: none;
} */

.AllSizeModalScroll::-webkit-scrollbar {
  width: 2px;
}

.AllSizeModalScroll::-webkit-scrollbar-thumb {
  background-color: #1e1e20;
  height: 50px;
  border-radius: 8px;
}

/* --------------------- */
.carouselCollection {
  overflow-x: scroll;
  overflow-y: hidden;
}

.carouselCollection::-webkit-scrollbar {
  width: 30px;
}

.carouselCollection::-webkit-scrollbar-thumb {
  background-color: #1e1e20;
  height: 2px;
  border-radius: 8px;
}

.ToogleOff {

  background: linear-gradient(180deg,
      rgba(167, 207, 223, 0) 50%,
      rgba(255, 255, 255, 0.99) 100%);
}


.slick-arrow .slick-prev {
  display: none;
}


/* -------------------WearCarosuelScroll in Location */
.WearScroll {
  width: 100%;
  height: fit-content;
  /*  */
  display: flex;
  flex-direction: row;
  cursor: pointer;
  overflow-x: scroll;
  row-gap: 12px;
  border: 1px solid red
}

.WearScroll::-webkit-scrollbar {
  width: 50px;
  height: 5px;
}

.WearScroll::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
  width: 50px;
  border-radius: 8px;
}

.WearScrollItem {
  width: fit-content;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  /* border: 1px solid green; */
}

/* ------------------- */
.inputStyle {
  color: #000;
  font-size: 16px;

}

.inputStyle::placeholder {
  color: #C5C5C5;
  font-size: 14px;
}

/* ------------------- */
@media (max-width: 767px) {
  .inputStyle {
    color: #000;
    font-size: 14px;

  }

  .inputStyle::placeholder {
    color: #A1A1A1;
    font-size: 12px;
  }

  .WearScroll {
    display: block;
  }

  .ant-space-item {
    overflow: visible;
    height: 0px;
    overflow: hidden;
    position: relative;
    width: 0px;
    right: 40px;
    z-index: -10;
  }

  .ant-picker-dropdown {
    position: absolute;
    z-index: 10;
  }


}

/* .ant-picker-input input::placeholder {
  display: none;
} */