@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: #007dca;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "AeonikPro-Medium";
  src: url("/public/fonts/AeonikPro-Medium.woff2") format("woff2"),
    url("/public/fonts/AeonikPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AeonikPro-Regular";
  src: url("/public/fonts/AeonikPro-Regular.woff2") format("woff2"),
    url("/public/fonts/AeonikPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.ant-picker-range-separator {
  display: none;
}

.mobileDate .ant-space {
  width: 250px;
}

.ant-picker-panels {
  display: grid !important;
}

:where(.css-dev-only-do-not-override-1jr9qlj).ant-picker {
  padding: 8px 10px 8px;
  border-radius: 8px;
  border: 1px solid #f2f2f2;
}

:where(.css-dev-only-do-not-override-1jr9qlj).ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
  border-color: #303030;
}

:where(.css-dev-only-do-not-override-1jr9qlj).ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  width: 100%;
  height: 48px;
  padding: 8px 10px;
  line-height: 10px;
}

:where(.css-dev-only-do-not-override-1jr9qlj).ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
  height: 48px;
  font-size: 16px;
}

.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}

/* .ymaps-2-1-79-map:nth-child(2) {
  display: none;
} */

.AllSizeModalScroll::-webkit-scrollbar {
  width: 2px;
}

.AllSizeModalScroll::-webkit-scrollbar-thumb {
  background-color: #1e1e20;
  height: 50px;
  border-radius: 8px;
}

/* --------------------- */
.carouselCollection {
  overflow-x: scroll;
  overflow-y: hidden;
}

.carouselCollection::-webkit-scrollbar {
  width: 30px;
}

.carouselCollection::-webkit-scrollbar-thumb {
  background-color: #1e1e20;
  height: 2px;
  border-radius: 8px;
}

.ToogleOff {

  background: linear-gradient(180deg,
      rgba(167, 207, 223, 0) 50%,
      rgba(255, 255, 255, 0.99) 100%);
}


.slick-arrow .slick-prev {
  display: none;
}


/* -------------------WearCarosuelScroll in Location */
.WearScroll {
  width: 100%;
  height: fit-content;
  /*  */
  display: flex;
  flex-direction: row;
  cursor: pointer;
  overflow-x: scroll;
  row-gap: 12px;
}

.WearScroll::-webkit-scrollbar {
  width: 50px;
  height: 5px;
}

.WearScroll::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
  width: 50px;
  border-radius: 8px;
}

.WearScrollItem {
  width: fit-content;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  /* border: 1px solid green; */
}

/* ------------------------------------------ */
.VerticelScroll::-webkit-scrollbar {
  width: 2px;
  height: 50px;
}

.VerticelScroll::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
  width: 2px;
  border-radius: 8px;
}

.HorizantalScroll::-webkit-scrollbar {
  width: 50px;
  height: 3px;
}

.HorizantalScroll::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
  width: 50px;
  border-radius: 8px;
}

/* ------------------------------------------ */
/* ------------------- */
.inputStyle {
  color: #000;
  font-size: 16px;

}

.inputStyle::placeholder {
  color: #C5C5C5;
  font-size: 14px;
}

/* ------------------- */
@media (max-width: 767px) {
  .inputStyle {
    color: #000;
    font-size: 14px;

  }

  .inputStyle::placeholder {
    color: #A1A1A1;
    font-size: 12px;
  }

  .WearScroll {
    display: block;
  }

  .ant-space-item {
    overflow: visible;
    height: 0px;
    overflow: hidden;
    position: relative;
    width: 0px;
    right: 40px;
    z-index: -10;
  }

  .ant-picker-dropdown {
    position: absolute;
    z-index: 150;
  }


}

/* .ant-picker-input input::placeholder {
  display: none;
} */
/* .ant-select-selection::placeholder-shown {
  color: red !important;
} */
/* ------------For Authentification------------- */
.openAccardion {
  min-height: 70px;
  gap: 8px;
  padding-top: 15px;
  padding-bottom: 4px;
}

.CloseAccardion {
  height: 0px;
  overflow: hidden;
}

#changeIcons {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

/* .options li {
  padding: 0 6px;
  margin: 0 0;
  padding: 0 10px;
}

.options li:hover {
  background-color: #39f;
  color: white;
} */
/* select option {
  padding: 10px 5px !important;
  background-color: green !important;
  color: red !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  height: 40px !important;


} */

/* -----------LOcationAddById----------------- */
input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
  display: none;

}

.without_ampm::-webkit-datetime-edit-ampm-field {
  display: none;

}

input[type=time]::-webkit-clear-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

/* ---------------tyoe radio----------- */
.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar label {
  /* display: inline-block; */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red */
}

.radio-toolbar input[type="radio"]:checked+label {
  background-color: #e6f2f9;
  color: #007DCA;
  /* border: 1px solid green */
}

input[type="radio"]:checked+label span {
  /* background-color: #660006; */
}

.ClothesSection .ant-select-selector {
  height: 40px;
  overflow-y: auto;
}

.ant-select-arrow {
  padding-right: 8px;
}

.ant-rate {
  font-size: 14px !important;
}

.ant-rate-star .ant-rate-star-full {
  margin-inline-end: 2px !important;
}

:where(.css-dev-only-do-not-override-1jr9qlj).ant-rate .ant-rate-star:not(:last-child) {
  margin-inline-end: 4px !important;
}

/* ant-checkbox-input */
.idCheck .ant-checkbox .ant-checkbox-inner {
  width: 25px;
  height: 25px;
  border: none;
  /* background-color: red; */
}

.ant-checkbox .ant-checkbox-inner {
  width: 25px;
  height: 25px;
  /* background-color: red; */
}

.ant-list-split .ant-list-item {
  border: none;
}

/* -----------Input type number icons remove */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* --------------------Backgroun Oiamge */
.BackgImageBLur {
  /* filter: blur(8px); */
  /* -webkit-filter: blur(8px); */
  /* opacity: 0.4 */
  /* background: rgba(255, 255, 255, 0.6) */
}

/*------ Crop Card ------*/


.zoom-range {
  /* -webkit-appearance: none; */
  -moz-appearance: none;
  height: 2px;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  background: #3f51b5;
  width: 100%;
  cursor: pointer
}

.zoom-range::-moz-range-thumb {
  /* -webkit-appearance: none; */
  -moz-appearance: none;
  border: 1px solid #3f51b5;
  background: #3f51b5;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: pointer
}

.zoom-range::-webkit-slider-thumb {
  /* -webkit-appearance: none; */
  -moz-appearance: none;
  border: 1px solid #3f51b5;
  background: #3f51b5;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: pointer
}

.cropper-crop-box,
.cropper-view-box {
  border-radius: 50%;
}

.cropper-view-box {
  box-shadow: 0 0 0 1px #39f;
  outline: 0;
}